<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <div class="about container my-4">

        <div class="card border-0 shadow-sm">
          <div class="card-header bg-transparent">
            <h2 class="mb-2">About Us</h2>
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repellat voluptatibus dolores quasi, sint itaque iste nobis labore. Molestiae nam ullam obcaecati amet odit placeat exercitationem eum deleniti accusantium atque recusandae aperiam molestias, alias autem natus asperiores voluptates a quas quasi sint tenetur iure veniam repellat? Ex voluptates nobis illo! Reiciendis minima amet vitae. Fugit aliquid perferendis molestiae excepturi nobis dolores ipsam aperiam nesciunt aut temporibus quasi omnis, iusto dolore! Quia laudantium nesciunt beatae sequi hic ab quos voluptatum suscipit doloribus illo, quidem iure voluptatem, impedit blanditiis libero saepe nulla, cupiditate delectus dicta voluptas omnis quae. Sapiente, eligendi saepe! Libero!</p>
          </div>
        </div>

      </div>


      <%- include("./partials/footer.ejs") %>
  </body>

</html>