<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

<section class="container">
  <div class="row">
    <div class="col-lg-5 col-md-6 col-12 mx-auto">
      <div class="card p-3 shadow mt-4 border-0">
        <h4 class="text-center mb-3">Add a new blog post</h4>
        <form action="/blogs" method="POST">
          <div class="form-group mb-3">
            <label for="title">Blog title:</label>
            <input type="text" id="title" name="title" placeholder="Blog post title" class="form-control" required />
          </div>
          <div class="form-group mb-3">
            <label for="snippet">Blog snippet:</label>
            <input type="text" id="snippet" name="snippet" placeholder="Blog post snippet" class="form-control" required />
          </div>
          <div class="form-group mb-3">
            <label for="body">Blog body:</label>
            <textarea id="body" name="body" class="form-control" placeholder="Blog post content ..." cols="50" rows="7" required></textarea>
          </div>
          <div class="d-flex w-100 justify-content-end">
            <button class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

      <%- include("./partials/footer.ejs") %>
  </body>

</html>